body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d0f6fa;
}
body, #header, #header2, #blank1, #header3, #blank2, #header4, #header4 div, footer{
    width: 100%;
    min-width: 1185px;
} 
#header{
    height: 40px;
    background: transparent url(Estilo/fundo_barra_top.jpg) repeat center top;
}
#header1{
    width: 1184px;
    height: 159px;
    display: flex;
    justify-content: space-between;
}
#header1 img{
    width: 355px;
    height: 95px;
    margin-top: 32px;

}
#agende{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#agende p{
    font-size: 25px;
    color: #258b95;
    margin-bottom: -5px;
}
#blank1{
    background: transparent url(Estilo/fundo_barra_top.jpg) repeat center center;
    height: 390px;
    display: flex;
    justify-content: center;
}
#blank1 img{
    width: 1184px;
    height: 572px;
    BOX-SHADOW: #00000073 0px 25px 100px;
}
#header2{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.226);
    display: flex;
    justify-content: center;
    position: absolute;
}
#header2 p, a{
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    color: #d0f6fa;
}
#header2  a{
    cursor: pointer;
}
#header2 p{
    cursor: default;
}
a{
    text-decoration: none;
}
#header3{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.226);
    margin-top: 250px;
    position: absolute;
    margin-top: 860px;
}
#header3 p{
    color: #d0f6fa;
    font-size: 30px;
}
#blank2{
    height: 410px;
    background: url(Estilo/fundo_barra_top.jpg) repeat center center;
    margin-top: 271px;
    display: flex;
    justify-content: center;
}
#blank2 div{
    width: 1185px;
    margin-top: 110px;
    font-size: 25px;
}
#header4{
    height: 60px;
    background: transparent url(Estilo/fundo_barra_top.jpg) repeat center top;
    margin-top: 89px;
    color: #d0f6fa;
    font-size: 30px;
}
#header4 div{
    width: 100%;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.226);
}
#blank3{
    height: 512px;
    width: 1185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#blank3 h2{
    color: #258b95;
    font-size: 30px;
}
.blank3-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}
.linha{
    width: 238px;
    height: 1px;
    background-color: #258b95;

}
.blank3-div p{
    font-size: 25px;
    color: #258b95;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    background: transparent url(Estilo/fundo_barra_top.jpg) repeat center top;
}
footer footer{
    background: rgba(0, 0, 0, 0.226);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
@media(max-width: 1185px){
    body, #header, #header2, #blank1,#header3, #blank2, #header4, #header4 div, footer{
        width: 1185px;
    }
    footer{
        height: 176px;
    } 
    footer footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
}